.about-section{
    background-color: rgba(180, 176, 176, 0.192);
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3) ;
}

.about-container img{
    max-height: 90vh;
    object-fit: cover;
}

.about-container div{
    margin: auto;
    width: 75%;
}

.about-container span{
    display: block;
    padding: 1rem;
    margin: 1.5rem auto;
    text-align: start;
    font-size: 1.3rem;
    line-height: 2.2rem;
}
