.chef-section-container{
    background-color: rgba(180, 176, 176, 0.192);
}

.chef-section-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3) ;
}

.chef-section-grid-container div:nth-child(4){
    grid-column:1/2;
    grid-row:2/3;
}

.chef-section-grid-container img{
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 250px;
}

.chef-description{
    width: 95%;
    margin:auto;
    color:rgba(49, 49, 44, 0.911)
}

.chef-description h3{
    color: rgb(241, 143, 15);
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 1.5rem;
}

.chef-description p{
    font-size: 1.3rem;
    line-height: 2.2rem;
}

.chef-description span{
    display: block;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.chef-description svg{
    font-size: 1.3rem;
    color:rgb(236, 209, 57);
}

.chef-description a {
    display: block;
    width: fit-content;
    padding: 0.6rem 1rem;
    margin:2rem auto;
    background-color: rgb(206, 201, 201);
    color:black;
    border-radius: 20px;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.2s ease-in;
}

.chef-description a:hover{
    background-color: rgb(173, 170, 170);
}

@media screen and (max-width:1135px){
    
    .chef-description{
        width: 80%;
    }

    .chef-section-grid-container{
        grid-template-columns: 1fr;
        width: 100%;
        padding: 2rem 0;
        box-shadow: none;
    }

    .chef-section-grid-container div:nth-child(4){
        grid-row: 4/5;
    }
}

@media screen and (max-width:640px){
    
    .chef-description{
        width: 80%;
    }
    .chef-description p{
        font-size: 1rem;
        line-height: 2.2rem;
    }
    
    .chef-description h3{
        font-size: 1.5rem;
    }

    .chef-section-grid-container img{
        width: 330px;
        height: 330px;
        border-radius: 50%;
    }
}

@media screen and (max-width:330px){

    .chef-section-grid-container img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
}